.base {
  background: white;
  position: relative;
}

.floating {
  position: absolute;
  top: 100px;
  left: 105%;
  font-size: 32px;
  width: 100%;

  animation: animation-transform 10s linear 0s 1 normal;
}

.text {
  composes: floating;
}

.icon {
  composes: floating;
}

.counter_list {
  position: absolute;
  top: 40px;
  left: 40px;
}

.counter {
  float: left;
  margin: 0 20px;
  font-size: 20px;
}

@keyframes animation-transform {
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX(-2000px);
  }
}

